<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Dashboard.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Data" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.DataAccess.UI" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Diagram.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.EasyTest" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.AuditTrail" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Chart" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Chart.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.CloneObject" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.ConditionalAppearance" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Core.All" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Dashboards" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Dashboards.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.EasyTest.WinAdapter" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.FileAttachment.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.HtmlPropertyEditor.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Images" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Kpi" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Notifications" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Notifications.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Objects" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Office" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Office.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.PivotChart" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.PivotChart.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.PivotGrid" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.PivotGrid.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.ReportsV2" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.ReportsV2.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Scheduler" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Scheduler.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.ScriptRecorder" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.ScriptRecorder.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Security" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.StateMachine" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.TreeListEditors" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.TreeListEditors.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Validation" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Validation.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.ViewVariantsModule" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Win.All" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Workflow" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Workflow.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.ExpressApp.Xpo" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Gauges.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Images" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Map.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Persistent.Base" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Persistent.BaseImpl" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Reporting.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Scheduler.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Spreadsheet.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.TreeMap" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.TreeMap.Core" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Utils" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Utils.UI" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.BonusSkins" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Charts" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Dashboard" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Diagram" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Gauges" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Grid" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Map" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Printing" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Reporting" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.RichEdit" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Scheduler" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Spreadsheet" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.TreeMap" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid" version="20.2.6" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="20.2.6" targetFramework="net472" />
</packages>